<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Atims" value="\\sqlsvr\atims\Images\NuGetPackages" />
    <add key="JwtDb" value="\\sqlsvr\atims\Images\NuGetPackages\JWT" />
  </packageSources>
</configuration>