<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- Load the ASP.NET Core plugin -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!--0=no logging, 1=only failure logging, 2=log all-->
    <variable name="accessFailure" value="1"/>
    <!--0=no logging, 1=only failure logging, 2=log all-->
    <variable name="editFailure" value="2"/>

    <targets>
        <target name="auditLog" xsi:type="File"
                layout="${longdate}|${level}|${message}"
                fileName="AUDIT LOG\${date:format=yyyy}\${date:format=MM}\${date:format=yyyyMMdd}.txt"/>
        <!--layout="${longdate}|${gdc:Audit_User_Id}|${gdc:Audit_Application_Id}|${gdc:Audit_Record_Id}|${gdc:Audit_Action_Id}|${gdc:Audit_Description}|${gdc:Audit_Machine}|${gdc:Audit_Descriptor}|${gdc:Audit_Number}|${gdc:Session_Id}|${gdc:AppAO_Id}|${gdc:AppAO_Module_Id}|${gdc:AppAO_SubModule_Id}|${gdc:AppAO_Header_Id}|${gdc:AppAO_HeaderMod_Id}|${gdc:Audit_Save_Flag}|${gdc:AppAO_MobileWeb_Id}"-->
        <target name="errorLog" xsi:type="File"
                layout="${longdate}|${level}|${message}"
                fileName="ERROR LOG\${date:format=yyyy}\${date:format=MM}\${date:format=yyyyMMdd}.txt"/>
        <!--fileName="\\${basedir}\\ERROR LOG\\${date:format=yyyy}\\${date:format=MM}\${date:format=yyyyMMdd}.txt"/>-->
    </targets>

    <rules>
        <logger name="*" levels="Warn" writeTo="auditLog" >
            <filters>
                <!--no logging-->
                <!--<when condition="${var:acessFailure} == 0" action="ignore"/>-->
                <!--no logging-->
                <!--<when condition="${var:editfailure} == 0" action="ignore"/>-->
                <!--only failure logging-->
                <!--<when condition="(${gdc:Audit_Action_Id} == 2 or ${gdc:Audit_Action_Id} == 3) and level == logLevel.Info and ${var:acessFailure} == 1" action="Ignore" />-->
                <!--only failure logging-->
                <!--<when condition="(${gdc:Audit_Action_Id} != 2 or ${gdc:Audit_Action_Id} != 3) and level == logLevel.Info and ${var:editFailure} == 1" action="Ignore" />-->
            </filters>
        </logger>
        <logger name="*" minlevel="Error" writeTo="errorLog" >
        </logger>
    </rules>
</nlog>